/* 
==============================================
CONTENT:	Rick & Morty Battles
AUTHOR:		Ashley Pollard
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';
@import 'variables';

@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Oswald');

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #000;
	width: 100%;
	min-height: 100vh;
	color: #fff;
	font-family: $copy-font;
	font-size: 18px;

	@include bp-tablet {

		.container {
			flex-flow: row wrap;

			.player {
				width: 49%;
				max-width: 402px;

				&.player-1, &.player-2 {
					order: unset;
				}

				&.player-1 {
					margin: 0 1% 0 0;
					border-right: 1px solid rgba(110, 205, 0, 0.4);;

					ul {
						// transform: unset;
					}
				}

				&.player-2 {
					margin-top: unset;
				}
			}

			blockquote {
				width: 90%;
				max-width: 815px;
			}

			.bottom {
				max-width: 442px;
			}
		}
	}

	@include bp-desktop {

		.container {

			.player {
				max-width: 660px;

				&.player-1 {
					margin: 0 1% 0 0;
				}
			}

			blockquote {
				width: 90%;
				max-width: 960px;
			}
		}
	}
}

h1, .go {
	font-family: $heading-font;
}

h1 {
	color: $green;
	font-size: 46px;
}

h2 {
	font-size: 25px;
}




/* 2. Content ================================= */



.container {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: url(../../dist/img/rm-bg.jpg) no-repeat center;
	background-size: cover;
	background-color: rgba(0,0,0,0.6);
	background-blend-mode: multiply;
	padding: 1em;

	// .overlay {
	// 	width: 100%;
	// 	min-height: 100vh;
	// 	background: url(../../dist/img/smoke.png) no-repeat center;
	// 	background-size: auto 100%;
	// 	background-blend-mode: multiply;
	// 	background-color: $green;
	// 	position: absolute;
	// 	opacity: 0.1;
	// }

	.go {
		width: 100%;
		background: #fff;
		padding: 11px;
		font-size: 27px;
		text-decoration: none;
		color: black;
		margin-top: auto;
		margin-bottom: 25px;
		transition: 0.5s;
		margin-top: 25px;
		border-radius: 10px;

		&:hover {
			color: $green;
		}
	}

	&.home-cont {
		padding: 0em;


		section {
			animation: ani-glow 1.5s infinite;
			width: 90%;
			max-width: 545px;
			padding: 1em;
			background: rgba(0,0,0,0.5);
			z-index: 1;
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;
			border-radius: 10px;

			h1 {
				padding-bottom: 10px;
			}
		}
	}

	&.battle-cont {
		background-color: rgba(0,0,0,0.9);
	}

	&.versus-cont {
		background-color: rgba(0,0,0,0.9);
		flex-direction: row;
		align-items: flex-end;

		h1, .go {
			position: absolute;
			text-align: center;
		}

		h1 {
			top: 5%;
			opacity: 0;
			animation: ani-opacity 2.5s forwards;
			animation-delay: 1.2s;
			font-size: 50px;
		}

		.go {
			top: 15%;
			width: 60%;
			max-width: 283px;
			padding-top: 16px;
			opacity: 0;
			animation: ani-opacity 2.5s forwards;
			animation-delay: 2.5s;
		}

		.player {
			width: unset;
			max-width: unset;

			h3 {
				display: none;
			}

			ul {
				display: flex;
				flex-direction: column;
				transform: unset;

				li {
					width: 47%;

					img {
						width: 196%;
						max-width: 140px;
						margin-bottom: 10px;

					}
				}
			}

			&.player-1 {
				margin-bottom: unset;
				border-right: unset;

				img {
					animation: ani-battle1 2s forwards;

					&.winnerArray1 {
						animation: ani-battle1-winner 2s forwards;
					}
				}
			}

			&.player-2 {
				margin-top: unset;

				img {
					animation: ani-battle2 2s forwards;

					&.winnerArray1 {
						animation: ani-battle2-winner 2s forwards;
					}
				}
			}
		}
	}
}

.player {
	width: 100%;
	max-width: 360px;
	height: 30%;
	text-align: center;

	&.player-1 {
		order: -1;
		margin-bottom: 10px;
	}

	&.player-2 {
		order: 1;
		margin-top: 10px;
	}

	h3 {
		margin-bottom: 10px;
	}

	ul {
		display: flex;
	}

	li {
		width: 23%;
		margin-right: 2%;

		img {
			width: 100%;
			border-radius: 5px;
		}
	}
}

.player, blockquote {
	text-transform: uppercase;
}

blockquote {
	background: rgba(203, 33, 33, 0.7);
	padding: 1em;
	order: -2;
	top: 15px;
	font-size: 20px;
	margin-bottom: 15px;
	border-radius: 10px;
	animation: ani-glow 1.5s infinite;
	text-align: center;
	transition: 0.4s;

	&.is-active {
		cursor: pointer;
		animation: ani-glow-active 1.5s infinite;
		font-size: 50px;
		padding: 1.3em;
		position: absolute;
		top: 45%;
		z-index: 1;
		padding: 0.9em;
		width: 90%;

		@include bp-tablet {
			padding: 1.2em;
			width: 85%;
		}
	}

	a {
		color: #fff;
		text-decoration: none;
	}
}

.bottom {
	width: 100%;
	max-width: 328px;
	height: 70%;
	order: 0;

	ul {
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;

		li {
			width: 18%;
			margin: 0 0.5% 1%;

			&[disabled] {
				opacity: 0.3;
			}
		}

		img {
			width: 100%;
			max-height: 86px;
			object-fit: cover;
			cursor: pointer;
			transition: 0.3s;
			border-radius: 5px;

			&:hover {
				transform: scale(1.2);
				box-shadow: 0 0 40px rgba(0, 0, 0, 0.9);
			}
		}
	}
}


.modal {
	position: absolute;
	width: 70%;
	max-width: 280px;
	background: rgba(0,0,0,0.8);
	border: double 4px rgba(0,0,0,0.9);
	padding: 0.8em;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
	line-height: 1.3;

	.close {
		align-self: flex-end;
		font-weight: bold;
		padding: 3px 6px;
	}

	img {
		width: 68%;
		object-fit: cover;
		border-radius: 3px;
		margin-bottom: 10px;
	}

	#confirm {
		margin-top: 1.2em;
		width: 85%;
		padding: 0.4em;
		border-radius: 5px;
		border: none;
		font-size: 20px;
		font-family: $copy-font;
		text-transform: uppercase;
		color: #0d8b23;
		transition: 0.8s;

		&:hover {
			color: #ff004e;
		}
	}
}

audio {
	position: absolute;
	top: 0;
	visibility: hidden;
}





@keyframes ani-glow {
  0% { background-color: rgba(0, 0, 0, 0.8); box-shadow: 0 0 3px #00b281; }
  50% { background-color: rgba(0, 0, 0, 0.8); box-shadow: 0 0 40px $green; }
  100% { background-color: rgba(0, 0, 0, 0.8); box-shadow: 0 0 3px #00b281; }
}

@keyframes ani-glow-active {
  0% { background-color: rgba(58, 203, 33, 1); box-shadow: 0 0 3px #00b281; }
  50% { background-color: rgba(58, 203, 33, 1); box-shadow: 0 0 40px $green; }
  100% { background-color: rgba(58, 203, 33, 1); box-shadow: 0 0 3px #00b281; }
}


@keyframes ani-battle1 {
	0% { transform: translateX(-100%); opacity: 1; }
	100% { transform: translateX(0%); opacity: 0; }
}

@keyframes ani-battle2 {
	0% { transform: translateX(100%); opacity: 1; }
	100% { transform: translateX(0%); opacity: 0; }
}

@keyframes ani-battle1-winner {
	0% { transform: translateX(-100%); opacity: 1; }
	100% { transform: translateX(0%); }
}

@keyframes ani-battle2-winner {
	0% { transform: translateX(100%); opacity: 1; }
	100% { transform: translateX(0%); }
}

@keyframes ani-opacity {
	100% { opacity: 1 }
}








